/* =============== Header =============== */
:root {
	box-sizing: border-box;
	--text-dark: #191a19d5;
	--bg-light: #edf5e1;
}

html, body{
	background-color: var(--bg-light);
}

.navbar {
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0 2rem 0 0 ;
	display: flex;
	align-items: center;
}

.nav-item:active{
	transform: scale(0.95);
}

.nav-link {
	margin-right: 0.5rem;
	padding: 1rem 1.5rem;

	color: var(--text-dark);
	text-decoration: none;
	font-weight: bolder;
	border-radius: 3px;

}
.nav-link:hover{
	background-color: #fa4b4ba6;;
}
.visualize-button{
	background-color: #029117a6;
}
.visualize-button:hover{
	background-color: #029117a6;
}

.logo {
	margin-left: 1rem;
	height: 5rem;
	cursor: pointer;
} 


.legend{
	/* background-color: red; */
	display: flex;

	color: var(--text-dark);
	text-decoration: none;
	font-weight: bolder;
}

.legend-item{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 2rem 0 0;
}

.symbol{
	width: 20px;
	height: 20px;
	border: 1px solid var(--text-dark);
	display: inline-block;
	margin-right: 0.5rem;
}

.symbol-start{background-color: #029117c6;}
.symbol-end{background-color: #fa4b4bc6;}
.symbol-wall{background-color: #191a19c6;}


/* =============== MainBody =============== */

.grid{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner-grid-div{
	height: 22px;
	margin-bottom: -1px;
}


/* responsive after <900px */